@import url("https://fonts.googleapis.com/css2?family=Sarina&family=Trocchi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Trocchi&display=swap");

$font-body: "trocchi", serif;
$font-title: "Sarina", serif;
$color-gray: rgb(76, 76, 76);
